*.anjuta*
build*
*.*~
*.in
*.cache
.*.swp
INSTALL
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
tags
gsoap-2.8/gsoap/bin/soapcpp2
gsoap-2.8/gsoap/bin/wsdl2h
gsoap-2.8/gsoap/src/error2.o
gsoap-2.8/gsoap/src/init2.o
gsoap-2.8/gsoap/src/lex.yy.c
gsoap-2.8/gsoap/src/lex.yy.o
gsoap-2.8/gsoap/src/soapcpp2
gsoap-2.8/gsoap/src/soapcpp2.o
gsoap-2.8/gsoap/src/soapcpp2_yacc.output
gsoap-2.8/gsoap/src/soapcpp2_yacc.tab.c
gsoap-2.8/gsoap/src/soapcpp2_yacc.tab.h
gsoap-2.8/gsoap/src/soapcpp2_yacc.tab.o
gsoap-2.8/gsoap/src/symbol2.o
gsoap-2.8/gsoap/wsdl/mime.o
gsoap-2.8/gsoap/wsdl/schema.o
gsoap-2.8/gsoap/wsdl/service.o
gsoap-2.8/gsoap/wsdl/soap.o
gsoap-2.8/gsoap/wsdl/types.o
gsoap-2.8/gsoap/wsdl/wsdl.o
gsoap-2.8/gsoap/wsdl/wsdl2h
gsoap-2.8/gsoap/wsdl/wsdlC.cpp
gsoap-2.8/gsoap/wsdl/wsdlC.o
gsoap-2.8/gsoap/wsdl/wsdlH.h
gsoap-2.8/gsoap/wsdl/wsdlStub.h
gsoap-2.8/gsoap/wsdl/wsp.o
gsoap-2.8/gsoap/wsdl/xmime.nsmap
